/* 底部菜单栏 */
.footer{
	width: 100%;
	height: 0.59rem;
	background-color: #f6f6f6;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	font-size: 0;
}
.footer li{
	font-size: 0.12rem;
	width: 25%;
	height: 0.24rem;
	display: inline-block;
	padding-top: 0.35rem;
}
.footer li span{
	display: block;
	width: 100%;
	text-align: center;
	color: #777;
}
.footer li.active:nth-of-type(1){
	background: url(../../static/imgs/home.png);
	background-repeat: no-repeat;
	background-position:center 0.08rem; 
	background-size: auto 0.24rem;
}
.footer li.normal:nth-of-type(1){
	background: url(../../static/imgs/home1.png);
	background-repeat: no-repeat;
	background-position:center 0.08rem; 
	background-size: auto 0.24rem;
}
.footer li.active:nth-of-type(2){
	background: url(../../static/imgs/shan.png);
	background-repeat: no-repeat;
	background-position:center 0.08rem; 
	background-size: auto 0.24rem;
}
.footer li.normal:nth-of-type(2){
	background: url(../../static/imgs/shan1.png);
	background-repeat: no-repeat;
	background-position:center 0.08rem; 
	background-size: auto 0.24rem;
}
.footer li.active:nth-of-type(3){
	background: url(../../static/imgs/shop.png);
	background-repeat: no-repeat;
	background-position:center 0.08rem; 
	background-size: auto 0.24rem;
	position: relative;
}
.footer li.normal:nth-of-type(3){
	background: url(../../static/imgs/shop1.png);
	background-repeat: no-repeat;
	background-position:center 0.08rem; 
	background-size: auto 0.24rem;
	position: relative;
}
.footer li:nth-of-type(3) div{
	position: absolute;
	right: 0.12rem;
	top: 0.04rem;
	width: 0.21rem;
	height: 0.21rem;
	line-height: 0.21rem;
	border-radius: 50%;
	background: #f40;
	color: #fff;
	text-align: center;
}
.footer li.active:nth-of-type(4){
	background: url(../../static/imgs/mine.png);
	background-repeat: no-repeat;
	background-position:center 0.08rem; 
	background-size: auto 0.24rem;
}
.footer li.normal:nth-of-type(4){
	background: url(../../static/imgs/mine1.png);
	background-repeat: no-repeat;
	background-position:center 0.08rem; 
	background-size: auto 0.24rem;
}
